html{
  font-size: 1.5rem;
  padding: 0 3% 3% 3%;
}
body{
  background-color: #000000;
    text-align: center;
}

section{
  padding:3% 0;
}
h2{
  font-family: "Roboto Slab",sans-serif;
  color:#66BFBF;
  font-weight: 600;
  font-size:2.4rem;
  letter-spacing: 0.25rem;
  padding-bottom: 3rem;
}
p{
  color:#FFD1D1 ;
  margin-top: 5%;
  font-family: Biotif-Regular,Helvetica Neue,Helvetica,Arial,sans-serif;
  width:80%;
  margin:5% auto;
  line-height: 1.65;
     text-align: justify;
}

hr {
  border: dotted #FFD1D1 1rem;
  border-bottom: none;
   width: 30%;
margin: 15% auto 15%;
}
h1{
  color: #66BFBF;
font-family: 'Dancing Script', cursive;
margin: 2rem auto 3rem;
width:60%;
letter-spacing: 0.3rem;

}

#profile-picture{
border-radius: 1.5rem;
}
.nav-item{
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
}

.dropdown-menu{
  background-color: #000000;
    text-align: center;
}
.dropdown-item{
  color:#FFD1D1;
}
.dropdown-item:hover{
  background-color: #000000;
  color: #C689C6;
}
.introductory{
padding: 0.8rem;
}
.project-image{
  width:40%;
  height: 40%;
  border-radius: 10%;
  margin:0 auto;
  display: inline-block;
}

.project-link{
font-size: 10rem;
opacity: 0;

}

/* SKILLS */
.faS{
  padding:1.5rem;
}
.faS:hover{
  color:#EAEAEA;

}
.fa{
  padding: 2%;
}
.fa:hover{
  color:#EAEAEA ;
}
.fa-html5{
  color: #e56027;
}
.fa-js{
  color:#f7df1e;
}
.fa-node{
  color:#7bc328;
}
.fa-bootstrap{
  color:#7210eb;
}
.fa-git{
  color:#f05030;
}
/* footer */
.fa-envelope{
  color:#EAEAEA;
}
.fa-instagram{
  color:#cc4f53;
}
/* CONTACT */
.contact-description{
    width: 50%;
    margin: 2% auto 3%;
}
.footer-text{
  text-align:center;
}
@media (max-width: 1028px) {
p{
  width:90%;
  font-size:0.55rem;
   text-align: justify;
}
.contact-description{
  width:80%;
    font-size:1rem;
    text-align: center;
}
h2{
  font-size:1.9rem;
}
.faS{
  padding: 1rem 1rem 2rem ;
}
.btn{
  margin: 10% auto;
}

}

